In [1]:
import os
import json
import pandas as pd

In [94]:
celular = json.load(open("../data/celular.json",'rb'))
televisao = json.load(open("../data/televisao.json",'rb'))

In [95]:
df_televisao = pd.DataFrame(televisao['products']).reset_index().rename(columns={"index": "doc_id"})
df_televisao.head()

,doc_id,title,description
0,0,"Samsung Smart TV 55"" Neo QLED 4K 55QN85A Mini ...",
1,1,"Smart TV LED LG 24"" Monitor Wi-Fi Webos 3.5 DT...","Smart TV Monitor LG 24"" LED Wi-Fi webOS 3.5 DT..."
2,2,"Samsung Smart TV 50"" QLED 4K The Frame 2021 50...",
3,3,"Android Tv Led 43"" Tcl 43s6500 Bluetooth, Cont...",
4,4,Smart TV LED 55” Philco PTV55Q20SNBL Ultra HD ...,

In [96]:
df_celular = pd.DataFrame(celular['products']).reset_index().rename(columns={"index": "doc_id"})
df_celular['doc_id'] = df_celular['doc_id'] + 56
df_celular.head()

,doc_id,title,description
0,56,Smartphone Motorola Moto G60s 128GB 4G Wi-Fi T...,O Smartphone Motorola Moto G60s chegou para s...
1,57,Smartphone Samsung Galaxy M22 128GB 4G Wi-Fi T...,
2,58,Smartphone Samsung Galaxy A22 128GB 4G Wi-Fi T...,
3,59,Smartphone Samsung Galaxy A12 64GB 4G Wi-Fi Te...,O Smartphone Samsung Galaxy A12 conta com de...
4,60,Smartphone Motorola Moto G9 Plus 128GB 4G Wi-F...,

## Consultas escolhidas

Consulta 1: televisão com tela de bordas infinitas

Consulta 2: smartphone samsung android com baterias de longa duração

## Depois da avaliação manual, temos:

In [3]:
df = pd.read_csv("../data/produtos.csv")

In [27]:
matriz_relevancia = df.T.iloc[[3,4],:]
matriz_relevancia

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,100,101,102,103,104,105,106
consulta_1,1,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
consulta_2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [28]:
matriz_relevancia.sum(axis=1)

consulta_1    14.0
consulta_2    12.0
dtype: float64

In [29]:
matriz_relevancia['qtd_relevantes'] = [14,12]

In [30]:
matriz_relevancia

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,qtd_relevantes
consulta_1,1,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,14
consulta_2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,12

In [31]:
matriz_relevancia.to_csv('../data/matriz_relevancia.csv', index=False)