In [93]:
import os
import json
import pandas as pd

In [94]:
celular = json.load(open("../data/celular.json",'rb'))
televisao = json.load(open("../data/televisao.json",'rb'))

In [95]:
df_televisao = pd.DataFrame(televisao['products']).reset_index().rename(columns={"index": "doc_id"})
df_televisao.head()

,doc_id,title,description
0,0,"Samsung Smart TV 55"" Neo QLED 4K 55QN85A Mini ...",
1,1,"Smart TV LED LG 24"" Monitor Wi-Fi Webos 3.5 DT...","Smart TV Monitor LG 24"" LED Wi-Fi webOS 3.5 DT..."
2,2,"Samsung Smart TV 50"" QLED 4K The Frame 2021 50...",
3,3,"Android Tv Led 43"" Tcl 43s6500 Bluetooth, Cont...",
4,4,Smart TV LED 55” Philco PTV55Q20SNBL Ultra HD ...,

In [96]:
df_celular = pd.DataFrame(celular['products']).reset_index().rename(columns={"index": "doc_id"})
df_celular['doc_id'] = df_celular['doc_id'] + 56
df_celular.head()

,doc_id,title,description
0,56,Smartphone Motorola Moto G60s 128GB 4G Wi-Fi T...,O Smartphone Motorola Moto G60s chegou para s...
1,57,Smartphone Samsung Galaxy M22 128GB 4G Wi-Fi T...,
2,58,Smartphone Samsung Galaxy A22 128GB 4G Wi-Fi T...,
3,59,Smartphone Samsung Galaxy A12 64GB 4G Wi-Fi Te...,O Smartphone Samsung Galaxy A12 conta com de...
4,60,Smartphone Motorola Moto G9 Plus 128GB 4G Wi-F...,

## Consultas escolhidas

Consulta 1: televisão com tela de bordas infinitas

Consulta 2: smartphone samsung android com baterias de longa duração

## Depois da avaliação manual, temos:

In [478]:
pd.read_csv("../data/produtos.csv")

,doc_id,title,description,consulta_1,consulta_2
0,0,"Samsung Smart TV 55"" Neo QLED 4K 55QN85A Mini ...",NaN,1,0
1,1,"Smart TV LED LG 24"" Monitor Wi-Fi Webos 3.5 DT...","Smart TV Monitor LG 24"" LED Wi-Fi webOS 3.5 DT...",0,0
2,2,"Samsung Smart TV 50"" QLED 4K The Frame 2021 50...",NaN,0,0
3,3,"Android Tv Led 43"" Tcl 43s6500 Bluetooth, Cont...",NaN,0,0
4,4,Smart TV LED 55” Philco PTV55Q20SNBL Ultra HD ...,NaN,0,0
...,...,...,...,...,...
102,102,Smartphone Samsung Galaxy A32 128GB 4G Wi-Fi T...,NaN,0,0
103,103,Smartphone Motorola Moto G10 64GB 4G Wi-Fi Tel...,NaN,0,0
104,104,Smartphone Motorola Moto G10 64GB 4G Wi-Fi Tel...,NaN,0,0
105,105,Smartphone Samsung Galaxy A02 32GB 4G Wi-Fi Te...,Você precisa de um smartphone de ótima qualida...,0,1
106,106,Smartphone Samsung Galaxy A02s 32GB 4G Wi-Fi T...,O Smartphone Samsung Galaxy A02s conta com de...,0,0