In [1]:
import os
import json
import pandas as pd
import numpy as np

In [2]:
df_result = pd.read_csv("../data/result_search.csv")

In [3]:
df_result.head()

,index,consulta_1_B1,consulta_2_B1,consulta_1_B2,consulta_2_B2,consulta_1_B3,consulta_2_B3,consulta_1_B4,consulta_2_B4
0,0,50,3.0,32.0,72.0,4,4,4.0,94.0
1,1,3,52.0,22.0,82.0,50,50,5.0,99.0
2,2,32,55.0,50.0,56.0,5,5,50.0,72.0
3,3,52,16.0,37.0,77.0,3,3,32.0,82.0
4,4,94,56.0,69.0,64.0,52,52,64.0,56.0

In [4]:
df_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          92 non-null     int64
 1   consulta_1_B1  92 non-null     int64
 2   consulta_2_B1  91 non-null     float64
 3   consulta_1_B2  74 non-null     float64
 4   consulta_2_B2  76 non-null     float64
 5   consulta_1_B3  92 non-null     int64
 6   consulta_2_B3  92 non-null     int64
 7   consulta_1_B4  76 non-null     float64
 8   consulta_2_B4  76 non-null     float64
dtypes: float64(5), int64(4)
memory usage: 6.6 KB

Em ambientes de ecommerce o ideal é encontrar os melhores valores de métricas nos top 20 produtos.

In [5]:
df_valid = df_result[df_result["index"] < 20]

In [6]:
df_valid

,index,consulta_1_B1,consulta_2_B1,consulta_1_B2,consulta_2_B2,consulta_1_B3,consulta_2_B3,consulta_1_B4,consulta_2_B4
0,0,50,3.0,32.0,72.0,4,4,4.0,94.0
1,1,3,52.0,22.0,82.0,50,50,5.0,99.0
2,2,32,55.0,50.0,56.0,5,5,50.0,72.0
3,3,52,16.0,37.0,77.0,3,3,32.0,82.0
4,4,94,56.0,69.0,64.0,52,52,64.0,56.0
5,5,99,77.0,9.0,73.0,32,32,73.0,77.0
6,6,24,72.0,6.0,106.0,94,94,106.0,90.0
7,7,46,82.0,13.0,59.0,99,99,59.0,101.0
8,8,41,50.0,21.0,87.0,24,24,87.0,63.0
9,9,23,53.0,25.0,92.0,46,46,92.0,76.0
10,10,2,94.0,31.0,65.0,41,41,67.0,64.0
11,11,8,99.0,39.0,101.0,23,23,62.0,73.0
12,12,10,64.0,11.0,63.0,2,2,80.0,106.0
13,13,55,73.0,17.0,76.0,8,8,89.0,59.0
14,14,16,106.0,23.0,55.0,10,10,93.0,87.0
15,15,22,59.0,94.0,74.0,64,64,95.0,92.0
16,16,54,87.0,99.0,3.0,73,73,22.0,65.0
17,17,4,92.0,28.0,16.0,106,106,37.0,105.0
18,18,37,101.0,90.0,52.0,59,59,69.0,84.0
19,19,18,65.0,0.0,53.0,87,87,6.0,91.0

In [7]:
matriz_relev = pd.read_csv("../data/matriz_relevancia.csv")

In [8]:
matriz_relev

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,98,99,100,101,102,103,104,105,106,qtd_relevantes
0,televisão com tela de bordas infinitas,1,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,14
1,smartphone samsung android com baterias de lon...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,12

In [9]:
def get_relevance(df, relevance_m):
   
    column_1 = ["consulta_1_B1","consulta_1_B2", "consulta_1_B3", "consulta_1_B4"]
    column_2 = ["consulta_2_B1","consulta_2_B2", "consulta_2_B3", "consulta_2_B4"]
    df_1 = df[column_1]
    df_2 = df[column_2]
    
    def relevance(element, index):
        #import pdb;pdb.set_trace()
        return relevance_m.iloc[index, int(element) + 1]
        #relevance_m[]
    df_relevance_1 = df_1.applymap(lambda x: relevance(x, 0))
    df_relevance_2 = df_2.applymap(lambda x: relevance(x, 1))
    return  [df_relevance_1, df_relevance_2]

In [61]:
relevancia_1, relevancia_2 = get_relevance(df_valid, matriz_relev)

In [62]:
relevancia_1

    consulta_1_B1  consulta_1_B2  consulta_1_B3  consulta_1_B4
0               1              1              0              0
1               0              0              1              1
2               1              1              1              1
3               0              1              0              1
4               0              0              0              0
5               0              0              1              0
6               1              1              0              0
7               1              1              0              0
8               0              1              1              0
9               0              1              1              0
10              0              1              0              0
11              0              1              0              0
12              0              1              0              0
13              0              0              0              0
14              0              0              0              0
15              0              0              0              0
16              0              0              0              0
17              0              0              0              1
18              1              0              0              0
19              0              1              0              1

In [63]:
relevancia_2

    consulta_2_B1  consulta_2_B2  consulta_2_B3  consulta_2_B4
0               0              0              0              1
1               0              0              0              0
2               0              0              0              0
3               0              0              0              0
4               0              0              0              0
5               0              0              0              0
6               0              0              1              0
7               0              0              0              0
8               0              0              0              1
9               0              0              0              1
10              1              0              0              0
11              0              0              0              0
12              0              1              0              0
13              0              1              0              0
14              0              0              0              0
15              0              0              0              0
16              0              0              0              0
17              0              0              0              1
18              0              0              0              1
19              0              0              0              1

## Métricas:

### Consulta 1

In [65]:
relevancia_1.columns =  [column.replace("_1","") for column in relevancia_1.columns]

In [66]:
qty_1 = matriz_relev["qtd_relevantes"][0]
print("quantidade de docs relevantes na consulta 1:")
relevancia_1.sum(axis=0)

quantidade de docs relevantes na consulta 1:

consulta_B1     5
consulta_B2    11
consulta_B3     5
consulta_B4     5
dtype: int64

###### Recall

In [67]:
print("Recall:")
recall_1 = relevancia_1.sum(axis=0) / qty_1
recall_1

Recall:

consulta_B1    0.357143
consulta_B2    0.785714
consulta_B3    0.357143
consulta_B4    0.357143
dtype: float64

###### Precision

In [68]:
print("Precision:")
precision_1 = relevancia_1.sum(axis=0) / 20
precision_1

Precision:

consulta_B1    0.25
consulta_B2    0.55
consulta_B3    0.25
consulta_B4    0.25
dtype: float64

###### F-measure

In [69]:
print("F-measure:")
f_measure_1 = 2 * precision_1 * recall_1/(precision_1 + recall_1)
f_measure_1

F-measure:

consulta_B1    0.294118
consulta_B2    0.647059
consulta_B3    0.294118
consulta_B4    0.294118
dtype: float64

### Consulta 2

In [70]:
relevancia_2.columns =  [column.replace("_2","") for column in relevancia_2.columns]

In [71]:
qty_2 = matriz_relev["qtd_relevantes"][1]
print("quantidade de docs relevantes:")
relevancia_2.sum(axis=0)

quantidade de docs relevantes:

consulta_B1    1
consulta_B2    2
consulta_B3    1
consulta_B4    6
dtype: int64

###### Recall

In [72]:
print("Recall:")
recall_2 = relevancia_2.sum(axis=0) / qty_2
recall_2

Recall:

consulta_B1    0.083333
consulta_B2    0.166667
consulta_B3    0.083333
consulta_B4    0.500000
dtype: float64

###### Precision

In [73]:
print("Precision:")
precision_2 = relevancia_2.sum(axis=0) / 20
precision_2

Precision:

consulta_B1    0.05
consulta_B2    0.10
consulta_B3    0.05
consulta_B4    0.30
dtype: float64

###### F-measure

In [74]:
print("F-measure:")
f_measure_2 = 2 * precision_2 * recall_2/(precision_2 + recall_2)
f_measure_2

F-measure:

consulta_B1    0.0625
consulta_B2    0.1250
consulta_B3    0.0625
consulta_B4    0.3750
dtype: float64

### Médias

#### Média Recall

In [76]:
(recall_1 + recall_2)/2

consulta_B1    0.220238
consulta_B2    0.476190
consulta_B3    0.220238
consulta_B4    0.428571
dtype: float64

#### Média Precision

In [77]:
(precision_1 + precision_2)/2

consulta_B1    0.150
consulta_B2    0.325
consulta_B3    0.150
consulta_B4    0.275
dtype: float64

#### Média F-Measure

In [78]:
(f_measure_1 + f_measure_2)/2

consulta_B1    0.178309
consulta_B2    0.386029
consulta_B3    0.178309
consulta_B4    0.334559
dtype: float64